*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #f0f0f0;
  }
  main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .flex-content{
    display: flex;
    width: 100%;
  }
  .flex-content .first-flex{
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: 33.33%;
  }
  .flex-content .middle-flex{
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 33.33%;
  }
  .flex-content .third-flex{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 33.33%;
  }
  .first-flex .middle-flex .third-flex h3{
    color: hsl(0, 0%, 95%);
    font-size: 20px;
    font-weight: 700;
    padding: 30px;
  }
  .first-flex .middle-flex .third-flex p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
  }